@{
   ViewData["Title"] = "Home Page";
   Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <main class="page landing-page">
        <section class="clean-block clean-hero">
            <div class="text">
                <h2>Access Denied</h2>
            </div>
        </section>
    </main>
</body>
