@{
    ViewData["Title"] = "Recover Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="clean-block clean-form dark">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Recover Password</h2>
        </div>
        @using (Html.BeginForm("StartPasswordRecovery", "Account", FormMethod.Post))
        {
            @await Html.PartialAsync("~/Views/Shared/ErrorAlert.cshtml");
            @await Html.PartialAsync("~/Views/Shared/SuccessAlert.cshtml");
            
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="password">Email</label>
                <input class="form-control" type="email" name="Email" required>
            </div>
            @await Html.PartialAsync("~/Views/Shared/Recaptcha.cshtml")
            <button class="btn btn-primary btn-block" type="submit">Recover Password</button>
        }
    </div>
</section>
