@model Product
@{
    ViewData["Title"] = "Write A Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:50px"></div>
<section class="container">
    <div class="card">
        <div class="card-header">
            <p class="text-primary m-0 font-weight-bold">@Model.Name Review</p>
        </div>
        @using (Html.BeginForm("CreateReview", "Account", new { @ProductID = Model.Key.Encrypt() }, FormMethod.Post))
        {
            <div class="card-body">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-10 form-group">
                        <label class="form-label">Title</label>
                        <input type="text" class="form-control" name="Title" maxlength="50" required />
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="form-label">Rating</label>
                        <select class="form-control" name="Rating" required>
                            <option value="">Select</option>
                            <option value="1">1 Star</option>
                            <option value="2">2 Star</option>
                            <option value="3">3 Star</option>
                            <option value="4">4 Star</option>
                            <option value="5">5 Star</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="form-label">Description</label>
                        <textarea class="form-control" style="height:200px" maxlength="500" name="Description" placeholder="Tell us about the product..." required></textarea>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-primary w-100">Create Review</button>
                    </div>
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
        }
    </div>
</section>