@{
    ViewData["Title"] = "Create Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="height:50px"></div>

@using (Html.BeginForm("CreateProduct", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 font-weight-bold">Create Product</p>
            </div>
            <div class="card-body">
                <h4>Product Details</h4>
                <hr />
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Product Name</label>
                            <input type="text" class="form-control" maxlength="100" placeholder="Product Name" name="Name" required />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Product Category</label>
                            <select class="form-control" name="Category" required>
                                <option value="">Select a Category</option>
                                @foreach (ProductDepartment ProductDepartment in ((List<ProductDepartment>)ViewBag.Departments).OrderBy(D => D.Description))
                                {
                                    @foreach (ProductCategory ProductCategory in ProductDepartment.ProductCategories)
                                    {
                                        <option value="@ProductCategory.Key">@ProductDepartment.Description - @ProductCategory.Description</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Product Price</label>
                            <input type="number" class="form-control" placeholder="R" min="0" max="9999999" name="Price" onkeyup="this.value=(Math.round(this.value))" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="number" min="1" max="100" class="form-control" value="1" name="Quantity" onkeyup="this.value=(Math.round(this.value))" required />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Brand</label>
                            <input type="text" minlength="1" maxlength="100" class="form-control" placeholder="Brand" name="Brand" required />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Color</label>
                            <input type="text" minlength="1" maxlength="100" class="form-control" placeholder="Color" name="Color" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Featured</label>
                            <select name="Featured" class="form-control" required>
                                <option value="">Select</option>
                                <option value="0">No</option>
                                <option value="1">Yes</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Product Description</label>
                        <textarea class="form-control" placeholder="Description" name="Description" required></textarea>
                    </div>
                </div>
                <br />
                <h4>Shipping Details</h4>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Weight in Grams (g)</label>
                            <input type="number" class="form-control" min="0" max="9999999" placeholder="Product Weight in Grams" onkeyup="this.value=(Math.round(this.value))" name="Weight" required />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Height in Millimeters (mm)</label>
                            <input type="number" class="form-control" min="0" max="9999999" placeholder="Product Height in Millimeters" onkeyup="this.value=(Math.round(this.value))" name="Height" required />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Width in Millimeters (mm)</label>
                            <input type="number" class="form-control" min="0" max="9999999" placeholder="Product Width in Millimeters" onkeyup="this.value=(Math.round(this.value))" name="Width" required />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Depth in Millimeters (mm)</label>
                            <input type="number" class="form-control" min="0" max="9999999" placeholder="Product Depth in Millimeters" onkeyup="this.value=(Math.round(this.value))" name="Depth" required />
                        </div>
                    </div>
                </div>
                <br />
                <h4>Product Specifications</h4>
                <hr />
                <div id="ProductSpecifications"></div>
                <div class="row">
                    <input type="hidden" id="SpecificationCount" name="SpecificationCount" value=0 />

                    <div class="col-md-4">
                        <button type="button" onclick="AddSpecification()" class="btn btn-sm btn-primary mt-1 w-100">Add Specification <i class="fa fa-plus"></i></button>
                    </div>
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-4">
                        <button type="button" onclick="RemoveSpecification()" class="btn btn-sm btn-danger mt-1 w-100">Remove Specification <i class="fa fa-trash"></i></button>
                    </div>
                </div>
                <hr />
                <h4>Product Images</h4>
                <br />
                <div class="row mt-3">
                    <div class="col-md-3">
                        <div style="min-height:150px;min-height:150px;max-height:150px;max-width:150px;">
                            <img src="~/img/Placeholder.png" id="Image1Preview" style="height:150px;width:auto;" class="img-fluid m-2" />
                        </div>
                        <div class="input-group mt-3 mb-1">
                            <div class="custom-file m-1">
                                <input type="file" accept="image/*" class="custom-file-input" id="Image1" aria-describedby="inputGroupFileAddon01" name="Image1" required>
                                <label class="custom-file-label" for="Image1">Featured</label>
                            </div>
                            <button type="button" class="btn alert-danger btn-sm m-1 font-weight-bold" onclick="ClearImage1()">X</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="min-height:150px;min-height:150px;max-height:150px;max-width:150px;">
                            <img src="~/img/Placeholder.png" id="Image2Preview" style="height:150px;width:auto;" class="img-fluid m-2" />
                        </div>
                        <div class="input-group mt-3 mb-1">
                            <div class="custom-file m-1">
                                <input type="file" accept="image/*" class="custom-file-input" id="Image2" aria-describedby="inputGroupFileAddon01" name="Image2">
                                <label class="custom-file-label" for="Image2">Image</label>
                            </div>
                            <button type="button" class="btn alert-danger btn-sm m-1 font-weight-bold" onclick="ClearImage2()">X</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="min-height:150px;min-height:150px;max-height:150px;max-width:150px;">
                            <img src="~/img/Placeholder.png" id="Image3Preview" style="height:150px;width:auto;" class="img-fluid m-2" />
                        </div>
                        <div class="input-group mt-3 mb-1">
                            <div class="custom-file m-1">
                                <input type="file" accept="image/*" class="custom-file-input" id="Image3" aria-describedby="inputGroupFileAddon01" name="Image3">
                                <label class="custom-file-label" for="Image3">Image</label>
                            </div>
                            <button type="button" class="btn alert-danger btn-sm m-1 font-weight-bold" onclick="ClearImage3()">X</button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div style="min-height:150px;min-height:150px;max-height:150px;max-width:150px;">
                            <img src="~/img/Placeholder.png" id="Image4Preview" style="height:150px;width:auto;" class="img-fluid m-2" />
                        </div>
                        <div class="input-group mt-3 mb-1">
                            <div class="custom-file m-1">
                                <input type="file" accept="image/*" class="custom-file-input" id="Image4" aria-describedby="inputGroupFileAddon01" name="Image4">
                                <label class="custom-file-label" for="Image4">Image</label>
                            </div>
                            <button type="button" class="btn alert-danger btn-sm m-1 font-weight-bold" onclick="ClearImage4()">X</button>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-sm btn-primary w-100">Create Product</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script src="~/js/jquery.min.js"></script>
<script>
    $("#Image1").change(function () {
        readURL(this, "#Image1Preview");
    });
    $("#Image2").change(function () {
        readURL(this, "#Image2Preview");
    });
    $("#Image3").change(function () {
        readURL(this, "#Image3Preview");
    });
    $("#Image4").change(function () {
        readURL(this, "#Image4Preview");
    });
    function readURL(input, PreviewName) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(PreviewName).attr('src', e.target.result);
                $(PreviewName).attr('style', 'min-height:150px;min-height:150px;max-height:150px;max-width:150px;');
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    function ClearImage1() {
        $('#Image1Preview').attr('src', '../img/Placeholder.png');
        $('#Image1').val('');
    }

    function ClearImage2() {
        $('#Image2Preview').attr('src', '../img/Placeholder.png');
        $('#Image2').val('');
    }

    function ClearImage3() {
        $('#Image3Preview').attr('src', '../img/Placeholder.png');
        $('#Image3').val('');
    }

    function ClearImage4() {
        $('#Image4Preview').attr('src', '../img/Placeholder.png');
        $('#Image4').val('');
    }

    function AddSpecification() {
        var CurrentCount = parseInt($("#SpecificationCount").val());
        CurrentCount++;
        $("#SpecificationCount").val(CurrentCount);
        $("#ProductSpecifications").append(
            "<div class='row' id='SpecificationRow_" + CurrentCount + "'>" +
            "<div class='col-md-6'>" +
            "<div class='form-group'>" +
            "<label>Name</label>" +
            "<input type='text' class='form-control' name='SpecificationName_" + CurrentCount + "' placeholder='Name' required />" +
            "</div>" +
            "</div>" +
            "<div class='col-md-6'>" +
            "<div class='form-group'>" +
            "<label>Value</label>" +
            "<input type='text' class='form-control' name='SpecificationValue_" + CurrentCount + "' placeholder='Value' required />" +
            "</div>" +
            "</div>" +
            "</div>")
    }

    function RemoveSpecification() {
        var CurrentCount = parseInt($("#SpecificationCount").val());
        var RowID = "#SpecificationRow_" + CurrentCount;
        $(RowID).remove();
        CurrentCount--;
        $("#SpecificationCount").val(CurrentCount);
    }
    </script>

