appsettings.json
bin/Debug/netcoreapp3.1/appsettings.json
EcommerceTesting.db
*.pdb
*.dll
*.json
*.user
*.cache
*.editorconfig
*.txt
*.v2
*.vsidx
*.v1
*.dll
*.user
*.config
*.v2
*.v1
*.v1
*.dll
*.dll
*.v1
*.dll
*.cache
*.props
*.json
*.xml
*.v2
*.v1
*.v5
*.metadata
*.p7s
*.nupkg
*.sha512
*.nuspec
*.targets
obj/Debug/netcoreapp3.1/_IsIncrementalBuild
*.pubxml
*.g.cs
*.lock
*.exe
*.1
