@using Ecommerce.Models;
@model Client
<div class="tab-pane fade show active" role="tabpanel" id="Reviews" aria-labelledby="Reviews-Tab">
    <div class="row">
        <div class="col-md-12">
            <h4>Review History</h4>
            @{
                List<Review> ClientReviews = Model.Reviews;
            }

            @if (ClientReviews.Count == 0)
            {
                <p>You have not written any reviews yet</p>
            }
            else
            {
                <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <td>Review Name</td>
                                <td>Rating</td>
                                <td>Date</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Review Review in ClientReviews.OrderByDescending(O => O.Date))
                            {
                                <tr>
                                    <td>@Review.Title</td>
                                    <td>
                                        @{
                                            int Rate = Review.Rating;
                                        }
                                        @while (Rate > 0)
                                        {
                                            Rate--;
                                            <i class="icon-star"></i>
                                        }
                                    </td>
                                    <td>@Review.Date.ToShortDateString()</td>
                                    <td> @Html.ActionLink("Edit", "EditReview", "Account", new { @ReviewID = Review.Key.Encrypt() }, new { @class = "btn btn-primary btn-sm shadow w-100" })</td>
                                    <td> @Html.ActionLink("Delete", "DeleteReview", "Account", new { @ReviewID = Review.Key.Encrypt() }, new { @class = "btn btn-primary btn-sm shadow w-100" })</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
        </div>
    </div>
</div>