@{
    ViewData["Title"] = "Cookie Policy";
}
<div style="height:30px"></div>
<div class="container mt-5">
    <div class="card mt-5 shadow-sm">
        <div class="card-header">
            Cookie Policy
        </div>
        <div class="card-body">
        </div>
    </div>
</div>